html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/mocha/1.12.1/mocha.min.css')
  body
    #mocha
    script(src='//cdnjs.cloudflare.com/ajax/libs/mocha/1.12.1/mocha.min.js')
    script(src='/libs/chai.js')
    script
      var mocha;
      mocha.ui('bdd');
      var expect = chai.expect;
    script(src='tests/test_frontend.js')
    script
      if (window.mochaPhantomJS) { mochaPhantomJS.run(); }
      else { mocha.run(); }

include index
